autom4te.cache
build
dist
META-INF
aclocal.m4
build.properties
config.status
configure
doc-header.html
Doxyfile.meta
INSTALL
install-sh
Makefile
Makefile.in
Makefile.java.meta
Makefile.meta
Makefile.top.meta
meta-build.ant
meta-build.m4
missing
mkinstalldirs
rstore-support-java.jar
rstore-support-java.pc
rstore-support-java-uninstalled.pc
.settings
bin
.classpath
.project
Makefile.fragment.meta

